.hamburgerIconContainer {
    display: flex;
    padding: 5px;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  
  .hamburgerIconContainer img {
    width: 22px;
    height: 22px;
    cursor: pointer;
  }
  
.hamburgerBarContainer {
    display: flex;
    justify-content: space-between; 
}
.hamburgerItem{
    width: 33%;
    padding: 8px 6px;
    /* background-color: rgb(67, 85, 133); */
    background-color: rgb(246, 225, 176);
    text-align: center;
    /* color: #fff; */
    color: #000;
    cursor: pointer;
}

.hamburgerItem:hover{
  /* background-color: rgb(54, 48, 98); */
  background-color: rgb(220, 207, 175);
}
  
