* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: rgb(245, 232, 199); 
}

.container {
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.calendar {
  padding: 20px;
  /* background-color: rgb(245, 232, 199); */
  background-color: rgb(67, 85, 133);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 95%;
}

.calendar.side-panel-open {
  width: 67%;
}

.calendar.side-panel-closed {
  width: 95%;
}

.react-calendar {
  width: 100%;
  max-width: 100%;
  height: 100%;
  font-size: 24px;
  /* background: rgb(245, 232, 199); */
  background-color: rgb(246, 225, 176);
  /* background-color: rgb(67, 85, 133); */
}

.react-calendar__tile {
  margin: 0;
  padding: 0;
  height: 14vmin;
  width: 15vmin;
  font-size: 120%;
  /* background: rgb(245, 232, 199); */
  background-color: rgb(246, 225, 176);
  /* background-color: rgb(67, 85, 133); */
}

/* Pozostałe do kalendarza */
/* Pozostałe style dla kalendarza */
.react-calendar__navigation button {
  /* color: rgb(54, 48, 98); */
  color: #000;
  min-width: 44px;
  background: none;
  font-size: 32px;
  margin-top: 8px;
}

/* Dodatkowe style dla kwadratów w kalendarzu */
.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  background: rgb(67, 85, 133);
  color: #fff;
  border-radius: 6px;
}

.react-calendar__tile--now,
.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
  background: rgb(67, 85, 133);
  border-radius: 6px;
  font-weight: bold;
  color: #fff;
}

.react-calendar__tile--active,
.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  background: rgb(54, 48, 98);
  color: #fff;
}

.react-calendar--selectRange .react-calendar__tile--hover {
  background-color: rgb(245, 232, 199);
}

.react-calendar__tile--range {
  background: rgb(245, 232, 199);
  color: rgb(54, 48, 98);
  border-radius: 0;
}

.react-calendar__tile--rangeStart {
  background: rgb(54, 48, 98);
  color: #fff;
}

.react-calendar__tile--rangeEnd {
  background: rgb(54, 48, 98);
  color: #fff;
}
/* Wprowadź styl dla nazw miesięcy w kalendarzu */
.react-calendar__navigation__label__labelText{
  font-weight: bold;
  text-transform: capitalize;
} 

/* Tutaj dodawaj */
.react-calendar__tile  button {
  margin-right: 5px; /* Dodaj to */
  margin-bottom: 5px; /* Dodaj to, jeśli chcesz odstęp również w pionie */
}
/* //////////////////////////////// */
.react-calendar__month-view__weekdays {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.75em;
  background-color: rgb(67, 85, 133); 
  /* background-color: rgb(245, 232, 199); */
  /* color: #000;  */
  color: #fff;
}



/* Dodaj odpowiednie kolory dla różnych typów wydarzeń */
.work-event {
  background-color: rgb(158, 0, 0); 
}

.vacation-event {
  background-color: rgb(227, 227, 62); 
}

.business-trip-event {
  background-color: rgb(15, 116, 15);
}

.sick-leave-event {
  background-color: rgb(82, 187, 193); 
}

/* Boczny panel ----------------------------------------------------------- */
.sidePanel {
  width: 28%;
  background-color: rgb(67, 85, 133);
  /* background: rgb(246, 225, 176); */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}

.selectedDate {
  margin: 20px 20px 0;
  padding: 20px;
  font-size: 30px;
  /* background-color: rgb(67, 85, 133); */
  background-color: rgb(246, 225, 176);
  color: #fff;
  color: #000;
  text-align: center;
  font-weight: bold;
  /* border-radius: 8px; */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1); 
}

.eventsContainer {
  margin: 0 20px;
  padding: 20px;
  background-color: #fff;
  /* border-radius: 8px; */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

.titleOfEvent {
  font-size: 22px;
  font-weight: bold;
  padding: 5px 5px 15px;
  text-align: center;
}

.eventSpace {
  background-color: rgb(246, 225, 176);
  padding: 15px;
  border: 1px solid #ddd; 
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

.eventSpace select,
.eventSpace input {
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
}

.workHours {
  display: flex;
  align-items: center;
  margin-top: 5px;
}

.workHours label {
  width: 50%;
  text-align: center;
}

.workHours input {
  padding: 10px;
  width: 50%;
  box-sizing: border-box;
}

.message {
  margin-top: 5px;
  padding: 2px;
  border: 1px solid #dc3545;
  background-color: #f8d7da;
  color: #721c24;
  text-align: center;
}

.featureContainer{
  margin: 10px 20px 20px;
  height: 100%;
}