/* Do kalendarza */
/* Na razie zakomentowane ale potrzebne */
.container {
  display: flex;
  text-align: center;
}

.calendar {
  margin: 0 auto;
  height: 100%; 
  width: 50%;
  padding: 20px;
  box-sizing: border-box;
  border: 1px solid #000;
}

.second-div {
  width: 50%;
  padding: 20px;
  box-sizing: border-box;
  border: 1px solid #000;
}

.custom-calendar{
  width: 100%;
  height: 100%;
}
/* Wprowadź styl dla nazw miesięcy w kalendarzu */
.react-calendar__navigation__label__labelText{
  font-weight: bold;
  text-transform: capitalize;
} 

/* Do EventSpace */
.upBarEventSpace{
  border: 1px solid #000;
  margin: 10px 0;
}
.calendarDate{
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border-right: 1px solid #000;
  text-align: center;
}
.downBarEventSpace{
  width: 100%;
}
.eventSpace{
  width: 100%;
  height: 200px;
}