.nextDaysInfo {
  border: 1px solid #ddd;
  margin: 10px 0 20px;
  /* border-radius: 8px; */
  background-color: #f4f4f4;
  background-color: rgb(245, 232, 199);
  overflow: auto;
}

.infoTitle {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  padding: 8px;
}

.dayInfo {
  padding: 4px;
  border: 1px solid #ccc;
  border-radius: 6px;
  margin: 4px;
  background-color: rgb(245, 232, 199);
  background-color: #f4f4f4;
}

.dayName {
  font-size: 16px;
  font-weight: bold;
  padding: 1px 8px;
}

.eventInfo {
  padding: 1px 8px;
}
